* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Gotham', sans-serif;
  color: $dark;
  outline: none;
  cursor: default;
}

*:focus {
  outline: none;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h2 {
  position: relative;
  padding-top: 140px;
  text-align: center;
  font-size: 44px;
  text-transform: uppercase;

  &::before {
    content: '';
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 1px;
    background-color: $dark;
  }
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.light {
  color: $white;
}