@import "./variables";
@import "./base";
@import "./layout";



.header {
  height: 100vh;
  background: #746ff8 url(../img/header-bg.jpg) center no-repeat;
  background-size: cover;
  text-align: center;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 450px;
  }

  &__title,
  &__subtitle {
    text-transform: uppercase;
  }

  &__title {
    font-size: 80px;
    letter-spacing: 2.5px;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-size: 18px;
    letter-spacing: 5px;
  }

  &__btn {
    position: absolute;
    bottom: 60px;
  }
}

.nav {
  position: absolute;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  font-size: 14px;
  text-transform: uppercase;
  user-select: none; 
  z-index: 50;

  &.fixed {
    position: fixed;
    top: 0;
    transition: all .5s ease-in;
    background-color: #55b7ff ;
    border-radius:0 0 20px 20px;
    width: 100%;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
  }

  &__logo {
    max-width: 245px;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    margin-right: 70px;

    &:last-child {
      margin-right: 0;
    }

  }

  &__link {
    padding-left: 20px;
    white-space: nowrap;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      border: 1.5px solid $white;
      border-radius: 50%;
    }
  }

  .toggle {
    position: relative;
    display: none;
    font-size: 28px;
    cursor: pointer;

    .close {
      display: none;
    }
  }

  &.open {
    flex-direction: column;

    .toggle {

      &__btn {
        display: none;

      }

      .close {
        display: inline-block;
      }
    }
  }
}



.social {
  display: flex;
  text-align: center;
  margin-left: 30px;

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 12px;
    padding: 10px;
    border: 1px solid $white;
    border-radius: 50%;
    transition: color .1s ease-in, background-color .1s ease-in;

    &:hover {
      color: #7d5cfa;
      background-color: $white;
      transition: color .1s ease-in, background-color .1s ease-in;
    }
  }
}

.btn {

  width: 40px;
  height: 40px;
  border: 1px solid $white;
  border-radius: 50%;

  &::before {
    content: '';
    position: absolute;
    top: 14px;
    left: 15px;
    width: 6px;
    height: 6px;
    border-left: 2px solid $white;
    border-bottom: 2px solid $white;
    border-radius: 1px;
    transform: rotate(-45deg);
  }

  &:active {
    background-color: $white;

    &::before {
      border-color: $dark;
    }
  }
}


.projects {
  background: $white;
  text-align: center;

  &__content {
    margin-top: 100px;
  }

  &__main-title {
    margin-bottom: 170px;
  }

  &__subtitle,
  &__title {
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 22px;
  }

  &__title {
    font-size: 44px;
    margin-bottom: 40px;
  }

  &__text {
    font-size: 18px;
    margin-bottom: 40px;
  }

  &__location {
    font-size: 18px;
    font-style: italic;
  }

  &__trade,
  &__commerce {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 470px;
    margin-bottom: 140px;
  }

  &__trade {
    position: relative;

    &-left {
      max-width: 630px;
      width: 100%;
      height: 470px;
      z-index: 1;
    }

    &-right {
      margin-left: 50px;
    }

    &::before {
      content: '';
      position: absolute;
      left: -200px;
      top: -70px;
      width: 630px;
      height: 470px;
      background-color: #55b7ff;

    }
  }

  &__commerce {
    position: relative;

    &-left {
      margin-right: 50px;
    }

    &-right {
      max-width: 630px;
      width: 100%;
      height: 470px;
      z-index: 1;
    }

    &::before {
      content: '';
      position: absolute;
      right: -200px;
      top: -70px;
      max-width: 630px;
      width: 100%;
      height: 470px;
      background-color: #7e5aff;

    }
  }
}

.btn-more {
  text-transform: uppercase;
  width: 190px;
  height: 50px;
  border: 1px solid $dark;
  margin-bottom: 60px;
  transition: color .1s ease-in, background-color .1s ease-in;

  &:hover {
    color: $white;
    background-color: $dark;
  }

  &:active {
    background-color: lighten($dark, 6%);
  }
}

.news {
  background: #29bcf2 url(../img/news-bg.jpg) center no-repeat;
  background-size: cover;
  padding-bottom: 100px;

  h2 {
    &::before {
      background-color: $white;
    }
  }

  &__content {
    position: relative;
  }

  &__title {
    margin-bottom: 100px;
  }

  &__wrapper {
    position: relative;
    overflow: visible;
    min-width: 0;
  }

  &__slider {
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  &__slide {
    width: 370px;
    background-color: $white;
    color: $dark;

    &-title {
      text-transform: uppercase;
      font-size: 20px;
      line-height: 32px;
    }

    &-text {
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 15px;
    min-height: 270px;
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: start;



    &-info {
      margin-left: 20px;

      span {
        display: block;
      }
    }

    &-name {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 8px;
    }

    &-date {
      color: #60bcff;
    }
  }

  .slide {
    width: 370px;
  }

  &__pagination {

    .swiper-pagination {
      bottom: 30px;

      &-bullet {
        width: 10px;
        height: 10px;
        margin: 0 10px;
        border: 1px solid $white;
        background-color: transparent;
        opacity: 1;

        &-active {
          background-color: $white;
        }
      }
    }
  }


  &__button-prev,
  &__button-next {
    position: absolute;
    top: 40%;
    cursor: pointer;

    &::before {
      top: 15px;
    }
  }

  &__button-prev {
    left: -60px;
    overflow: visible;
    z-index: 10;

    &::before {
      left: 16px;
      transform: rotate(45deg);

    }
  }

  &__button-next {
    right: -60px;
    z-index: 10;

    &::before {
      left: 14px;
      transform: rotate(-135deg);
    }
  }
}

.gallery {
  padding-bottom: 100px;
  text-align: center;

  &__title {
    margin-bottom: 100px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-bottom: 40px;
  }

  .panel-big {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
  }

  &__img {
    width: 100%;
    height: 100%;
  }
}

.map {
  height: 700px;
  width: 100%;
  background-color: #b3f0f0;

  #map {
    width: 100%;
    height: 700px;
  }
}

.footer {
  height: 525px;
  background: #746ff8 url(../img/footer-bg.jpg) center no-repeat;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 100%;
    margin-top: 200px;
  }

  &__bottom {
    display: flex;
    align-self: start;
    align-items: center;
    font-size: 14px;

  }

  &__text {
    line-height: 22px;

    &:first-child {
      padding-right: 20px;
      margin-right: 20px;
      border-right: 1px solid $white;
    }
  }

}




@media screen and (max-width: 1170px) {

  .news {

    &__slider {
      max-width: 770px;
    }

    &__button-prev {
      left: 2%;

    }

    &__button-next {
      right: 2%;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, xl)) {
  .header {

    .nav {

      &__item {
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }
      }

      &__social {
        display: none;
      }
    }
  }

  .projects {

    &__trade,
    &__commerce {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, lg)) {
  .header {


    &__title {
      font-size: 62px;
    }

    &__subtitle {
      font-size: 14px;
    }
  }



  .news {

    &__slider {
      max-width: 770px;
    }

    &__button-prev {
      display: none;
    }

    &__button-next {
      display: none;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, md)) {

  .nav {
    background-color: #55b7ff;
    top: 0;

    &__menu {
      display: none;

      .open & {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
      }
    }

    &__item {
      .open & {
        background-color: #55b7ff;
        margin-right: 0;
        width: 100%;

        &:hover {
          background-color: darken(#55b7ff, 3%);
        }
      }
    }
    &__link {
      display: block;
      width: 100%;
      padding: 20px;
      border-top: 1px solid darken(#55b7ff, 8%);
    }

    .toggle {
      display: block;
    }
  }



  .news {

    &__slider {
      max-width: 370px;
    }

    &__button-prev {
      display: none;
    }

    &__button-next {
      display: none;
    }
  }
}